body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-size: 4rem;
	color: #206a5d;
}
.buffer{
	height: 30rem;
}
.btn-xl{
	padding: 1rem 2rem;
}
 

.btn{
	font-weight: 700px;
    border-radius: 300px;
    text-transform: uppercase;
} 


.btn-primary{
	background-color: #006a71;
	border-color: #006a71;
}

.btn-primary:hover{
	background-color:#76ead7;
	border-color: #76ead7;
	border-width: 3px;
}


hr{
	border-width: 3px;
	border-color: #006a71;
	max-width: 60px;
}

